{% load static %}
{% load articles %}
<div class="container nav-container">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'logo_comet_couleur_217596201a.svg' %}" width="15%"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Articles</a>
                        <div class="dropdown-menu">
                            <a href="{% url 'list_articles' %}?filter=all" class="dropdown-item">Tous les articles</a>
                            {% article_category as categories %}
                            {% for category in categories %}
                                <a href="{% url 'list_articles' %}?filter={{category.1}}" class="dropdown-item">{{category.1}}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
